@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-size: 24px;
    color: #8499a7;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0 0 24px;
    margin: 0;
    letter-spacing: 0px;
}
h1 strong {
    color: #21b8c6;
    font-weight: inherit;
}
.gallery::-webkit-scrollbar {
    height: 10px;
    background-color: #d1dae3;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-track {
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
    border-radius: 10px;
}
#app {
    height: 768px;
    width: 1024px;
    background-color: #f0f3f6;
    position: relative;
    /* overflow: hidden; */
}
.gallery {
    height: 677px;
    width: 975px;
    display: flex;
    position: absolute;
    top: 55px;
    left: 25px;
}
.page {
    display: flex;
    position: relative;
    width: 975px;
    height: 630px;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: flex-start;
    flex-shrink: 0;
    margin-right: 10px;
}

.photo {
    width: 236px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px rgba(160, 176, 186, 0.6);
}

.photo1 {
    top: 5px;
    left: 0;
    width: 482px;
}
.photo2 {
    top: 215px;
    left: 0;
}
.photo3 {
    top: 425px;
    left: 0;
}
.photo4 {
    top: 215px;
    left: 246px;
}
.photo5 {
    top: 425px;
    left: 246px;
    width: 482px;
}
.photo6 {
    top: 5px;
    left: 492px;
    height: 410px;
}
.photo7 {
    top: 5px;
    left: 738px;
}
.photo8 {
    top: 215px;
    left: 738px;
}
.photo9 {
    top: 425px;
    left: 738px;
}
#btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
}
#btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    background: #fff url(../images/add_c.jpg);
    background-repeat: no-repeat;
    background-position: center 75px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
}

.btn-container {
    width: 236px;
    height: 200px;
    background-color: #fff;
}
body > .preview {
    display: none;
}
.photo .preview {
    position: absolute;
    display: block;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #fff;
    opacity: 0;
}
.photo:hover .preview {
    opacity: 1;
}
.preview .dislike,
.preview .like,
.preview .comments {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #0d7f8a;
}

.preview .like {
    right: 0;
    background: url(../images/like.png) no-repeat center;
}
.preview .dislike {
    right: 55px;
    background: url(../images/dislike.png) no-repeat center;
}
.preview .comments {
    left: 0px;
    background: url(../images/comment.png) no-repeat center;
}
.preview span {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    color: #0d7f8a;
}
.preview .like span {
    top: 16px;
    left: 36px;
}
.preview .dislike span {
    top: 16px;
    left: 35px;
}
.preview .comments span {
    top: 15px;
    left: 35px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 60px;
    width: 100%;
    height: 672px;
    overflow: auto;
    background-color: rgba(240, 243, 246, 0.85);
}

.modal-content {
    width: 810px;
    height: 595px;
    position: absolute;
    left: 107px;
    top: 35px;
    border-radius: 3px;
    background: #fff;
    z-index: 3;
    box-shadow: 2px 2px 7px 1px rgba(194, 205, 216, 1);
    display: flex;
}
.close {
    color: #21b8c6;
    font-weight: 800;
    font-size: 45px;
    position: absolute;
    top: 11px;
    right: 9px;
    height: 24px;
    line-height: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s linear;
}
.close:hover,
.close:focus {
    transform: scale(1.1) rotate(90deg);
}
.left-side,
.right-side {
    height: 595px;
}
.left-side {
    width: 450px;
}
.right-side {
    width: 360px;
    box-sizing:  border-box;
    padding: 25px 14px 20px 30px;
}
.full-image {
    height: 515px;
    background-size: cover;
    background-position: center;
}
.actions {
    height: 80px;
    position: relative;
}
.actions .like,
.actions .dislike {
    position: absolute;
    height: 60px;
    width: 65px;
    cursor: pointer;
}

.actions .like {
    top: -7px;
    right: 6px;
    background: url(../images/like.png) no-repeat 20px 14px #e0e5e9;
}
.actions .dislike {
    top: -7px;
    right: 77px;
    background: url(../images/dislike.png) no-repeat 20px 14px #e0e5e9;
}

.actions .like::after,
.actions .dislike::after {
    content: "";
    display: block;
    height: 7px;
    width: 65px;
    background-color: #d02828;
    position: absolute;
    bottom: -7px;
}
.actions .dislike::after {
    background-color: #28d0ce;
}
.actions span {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    color: #0d7f8a;
}
.actions .like span {
    top: 14px;
    right: 15.5px;
}
.actions .dislike span {
    top: 14px;
    right: 16.5px;
}
/* right side */
.count {
    color: #8499a7;
    font-size: 24px;
    font-weight: 600;
}
.comments-container {
    height: 422px;
    width: 292px;
    margin-top: -1px;
    box-sizing:  border-box;
    padding-left: 3px;
    border-bottom: 2px solid #607583;
    overflow-y: scroll;
}
.info {
    font-size: 11px;
    color: #95a7b3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.comment {
    margin-top: 9px;
}
.comments-container .content {
    box-sizing: border-box;
    color: #607583;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px;
    margin-top: 2px;
    line-height: 16px;
    min-height: 58px;
}

form {
    display: flex;
    flex-wrap: wrap;
    color: #95a7b3;
}
input, textarea {
    border: none;
    box-sizing: border-box;
    font-size:  15px;
    font-family: 'Open Sans';
}
#nickname {
    border-bottom: 1px solid #e6e6e6;
    width: 290px;
    margin: 0px 0px 11px 2px;
    padding: 3px 0 3px 10px;
}
#content {
    border: 1px solid #e6e6e6;
    width: 240px;
    margin: 0px 0 0 2px;
    padding: 5px 11px;
    height: 49px;
    resize:  none;
}
#send {
    height: 50px;
    width: 50px;
    background: url(../images/letter.png) no-repeat center, #21b8c6;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
}
#clone {
    display: none;
}